:root {
    --branco: #FDFDFD;
    --cor-de-fundo: #0F172A; 
    --fundo-senha: #1E293B; 
    --fundo-texto: #162033; 
    --borda: #38BDF8; 
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}
* {
    font-weight: 400;
}