:root {
    --branco: #FDFDFD;
    --cor-de-fundo: #0F172A; 
    --fundo-senha: #1E293B; 
    --fundo-texto: #162033; 
    --borda: #38BDF8; 
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}
* {
    font-weight: 400;
}
body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
    font-size: 18px; 
}

.titulo-principal {
    font-family: var(--roboto-mono);
    font-size: 40px; 
    font-weight: 600;
}

.titulo-secundario {
    font-size: 28px;
    font-weight: 500;
}

.conteudo-titulo {
    text-align: center;
    margin-top: 60px; 
}

.conteudo-senha {
    margin-top: 60px;
    background: var(--fundo-senha);
    padding: 28px;
    border-bottom: 6px solid var(--borda);
    border-radius: 12px;
}

#campo-senha {
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 36px;
    width: 70%;
}
.parametro {
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 28px;
    padding: 24px;
    border-radius: 10px;
}

.parametro-titulo {
    font-family: var(--roboto-mono);
    font-size: 26px;
    font-weight: 500;
}

.parametro-senha__titulo {
    font-size: 22px;
}

.parametro-senha__botao {
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 20px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}
.parametro-senha__botao:hover {
    background-color: var(--borda);
    color: #0F172A;
}

.parametro-senha__texto {
    padding: 20px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 22px;
}

label {
    font-size: 18px;
}
.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.barra {
    background-color: var(--fundo-senha);
    height: 20px;
    width: 100%;
    border-radius: 10px;
}

.forca {
    height: 20px;
    position: relative;
    bottom: 20px;
    border-radius: 10px;
}

.fraca {
    width: 25%;
    background-color: #EF4444; /* Vermelho mais suave */
}

.media {
    background-color: #FACC15; /* Amarelo dourado */
    width: 50%;
}

.forte {
    background-color: #22C55E; /* Verde vibrante */
    width: 100%;
}

.parametro-senha-textos {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}