:root {
    --branco: #FDFDFD;
    --cor-de-fundo: #0F172A; /* Azul escuro elegante */
    --fundo-senha: #1E293B; /* Azul chumbo */
    --fundo-texto: #162033; /* Azul profundo */
    --borda: #38BDF8; /* Azul ciano vibrante */
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}